body{
  font-family:'Montserrat', sans-serif;
  margin:0;
}
h1{
  font-family: 'Anton', sans-serif;
  font-size: 4rem;
  line-height: 1.5;
}
hr{
width: 5%;
margin: auto;
padding-bottom: 25px;
padding-top: 15px;
border-top-style: dotted;
color: white;
/* EAF6F6 */
border-width: 7px;
}

/* title */
#title{
  background-color: #EFFFFD;    /* DFF6FF */  /* FEE2C5 */
}
.title-image{
  border-radius: 10%;
  width: 120%;
}


/* about */
.about{
  background-color: #6E7C7C;
  color: white;
  /* 0A1D37  6E7C7C */
  text-align: center;
}
.about-img{
  width: 90%;
  border-radius: 100%;
  padding-bottom: 1.8rem;
}
.table{
  text-align: justify;
}
.tds{
  padding-right: 20px;
  color: #D3DEDC;
}
.tds2{
  color: #E6E6E6;
  text-align:left;
}
.container-fluid{
  padding: 3% 15%;
}

/* navigation bar */
.navbar{
  margin: auto;
  padding-bottom: 4.5rem;
}
.navbar-brand{
  font-family: 'Kolker Brush', cursive;
  font-size: 4.5rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-family: "Montserrat-light";
  font-size: 1.2rem;
}

/* contact buttons */
.mail-button{
  margin: 5% 3% 5% 0;
}

.linkedin{
  color: #0A66C2;
  width: auto;
  font-family: 'Anton', sans-serif;
  font-weight: bolder;
  margin: 5% 3% 5% 0;
}
.linkedinbtn:hover{
  background-color: #FFFAD7;
}
.mail-button:hover{
  background-color: #001D6E;
}

/* features */
#features{
  padding: 7% 15%;
  text-align: center;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
.icon{
  color: #D49B54;
  margin : 1.5rem 0;
}
.icon:hover{
  color: #22577E;
}
.features-heading{
  margin:2rem;
}
.features-para{
  color: #E6E6E6;
  line-height: 1.8rem;
}

/* education */
#education{
  text-align: center;
  background-color: #EFFFFD;
  padding: 7% 15%
}
.education-h2{
  padding-bottom: 3rem;
}
.edu-column{
  padding: 2% 3%;
}

/* certificates */
#certificates{
  padding: 7% 15%;
  background-color: #6E7C7C;
  text-align: center;
  color: white;
}
.carousel-item{
  padding: 7% 15%;
}
.certificate-img{
  width: 100%;
}

/* projects */
#projects{
  padding: 7% 15%;
  text-align: center;
  background-color: #FAF7F0;
}
/* #EEEEEE */
.project-card {
  text-align: left;
}

/* cta */
#cta{
  padding: 4% 15% 2%;
  background-color:#394867;
  text-align: center;
  color: #fff;
  /* color: #FF6464; */
}
.cta-des{
  font-family: 'Bebas Neue', cursive;
  color: #D89216;
  font-size: 4rem;
  /* FF5C58 */
}
/* footer */
#footer{
  /* background-color:#0A1D37; */
  color: grey;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 0;
}
.footer-icon{
  padding: 0.8%;
}

/* mobile specific */
@media(max-width:1028px) {
  p{
    font-size: 1.45rem;
    line-height: 1.8rem;
  }
  .features-para{
    color: #E6E6E6;
    line-height: 2.3rem;
    font-size: 1.7rem;
  }
  .table{
    font-size: 1.45rem;
  }
  h4{
    font-size: 1.6rem;
  }
  .card-title{
    font-size: 1.7rem;
  }
  #certificates{
    max-width: 100%;
  }
}
